<h1>Input karyawan baru</h1>

<form action="/karyawan/proses-insert-data" method="post">

    <label for="">Nomor Induk Karyawan"</label>
    <input type="text" name="form_nik">
    <br><br>

    <label for="">Nama Lengkap"></label>
    <input type="text" name="form_nama">
    <br><br>

    <label for="Tanggal Lahir"></label>
    <input type="date" name="form_tanggal_lahir">
    <br><br>

    <label for="">Alamat Rumah</label><br>
    <textarea name="form_alamat" rows="5" cols="50"></textarea>
    <br><br>

    <button type="submit">simpan</button>

</form>
