let tahun_lahir = 1945
let tahun_ini = 2024
let umur = tahun_ini - tahun_lahir

<ul>
    <li>nama lengkap : Dewi Ingga Wijayanti</li>
    <li>alamat : central park residence</li>
    <li>tanggal lahir : 27 september ${tahun_lahir}</li>
    <li>umur : ${umur} tahun</li>
</ul>
<br>
<a href="/">Balik ke beranda</a>


<!-- <script>
    let tahun_lahir = 1990
    let tahun_ini = 2024
    let umur = tahun_ini - tahun_lahir

    let elementSpan = document.getElementById('tahun_kelahiran')
    elementSpan.innerHTML = tahun_lahir

    let elementUmur = document.getElementById('umurAji')
    elementUmur.innerHTML = umur
</script> -->